.container {
  padding-inline: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1;
}

.errorTitle {
  padding-top: 5rem;
  text-align: left;
  font-size: 30px;
  color: var(--primary) !important;
}

.errorList {
  padding-bottom: 10rem;
  font-size: 20px;
}

.errorMessage {
  font-size: 20px;
}

.verifyContainer {
  padding-inline: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.title {
  color: var(--primary);
  text-align: center;
  line-height: 1.15;
  font-size: 50px;
  cursor: pointer;
}


@media screen and (max-width: 599px) {
  .errorTitle {
    font-size: 24px;
    padding-top: 3rem;
    text-align: center;
  }

  .errorList,
  .errorMessage {
    font-size: 18px;
  }

  .title {
    font-size: 36px;
  }
}


@media screen and (min-width: 600px) and (max-width: 1024px) {
  .errorTitle {
    font-size: 28px;
    text-align: center;
  }

  .errorList,
  .errorMessage {
    font-size: 19px;
  }

  .title {
    font-size: 44px;
  }
}


@media screen and (min-width: 1025px) {
  .errorTitle {
    font-size: 30px;
  }

  .errorList,
  .errorMessage {
    font-size: 20px;
  }

  .title {
    font-size: 50px;
  }
}
