.button {
  background: var(--primary);
  border-radius: 10px;
  border: none;
  padding: 10px 18px;
  color: var(--contrast-text);
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.button span {
  margin-right: 8px;
}

.secondaryButton {
  background: var(--background);
  color: var(--dark-text);
}