.container {
  padding-inline: 16px;
  gap: 16px;
  align-items: center;
  padding-top: 16px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.hasLogoContainer {
  padding-inline: 16px;
  gap: 16px;
  align-items: center;
  /* padding-top: 16px; */
  display: flex;
  width: 100%;
  justify-content: flex-end;
  background-color: var(--contrast-text);
}

.loginButton {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  min-height: 36px;
  background: none;
  border: none;
  gap: 8px;
  color: var(--dark-text);
  font-family: Rubik, sans-serif;
  font-size: 14px;
  line-height: 1;
  font-weight: 500;

}

.darkmodeIcon {
  font-size: 18px;
}

.loginIcon {
  font-size: 18px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-grow: 1;
  cursor: pointer;
}

.logo p {
  flex-grow: 1;
  font-size: 16px;
  font-family: Rubik, sans-serif;
  font-weight: 700;
  color: var(--primary);

} 

.betaTag {
  font-size: 12px;
  
}