@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
  --white: #FFFFFF;
  --black: #000000;
  --success: #4D7C0F;
  --background: #F3F4F6;
  --primary: #0F7390;
  --text: #1F2937;
  --contrast-text: #FFFFFF;
  --dark-text: #384151;
  --light-text: #4C5563;
  --error: #B91C1C;
  --border: #6B7280;
  --switch-background: #9CA3AF;
  --switch-slider: #FFFFFF;
  --modal-background: hsla(0, 0%, 100%, .7);
  --version: #808080;
}

.darkmode {
  --white: #FFFFFF;
  --black: #000000;
  --success: #A3E534;
  --background: #1F2937;
  --primary: #67E8F9;
  --text: #F3F4F6;
  --contrast-text: #111827;
  --dark-text: #E5E7EB;
  --light-text: #9CA3AF;
  --error: #EF4444;
  --border: #9CA3AF;
  --switch-background: #E5E7EB;
  --switch-slider: #111827;
  --modal-background: hsla(0, 0%, 0%, .7);
  --version: #BDC0C6;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Rubik, sans-serif;
  color: var(--text);
  font-size: 16px;
  background-color: var(--background);
  line-height: 1.5;
}

a {
  color: var(--primary);
  /* text-decoration: none; */
}

* {
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  min-height: 100vh;
  align-items: center;
}

.text-content {
  flex: 1;
  max-width: 75ch;
  margin-inline: auto;
  background: var(--contrast-text);
  box-shadow: 0px 15px 30px #06102421;
  border-radius: 10px;
  padding: 24px;
  margin-top: 48px;
}

.title {
  letter-spacing: 0px;
  text-align: center;
  font-family: Rubik, sans-serif;
  font-size: 31px;
  line-height: 1.1;
  font-weight: bold;
  letter-spacing: 0px;
  color: var(--primary);
  opacity: 1;
  margin-top: .5em;
}

.footer {
  padding-inline: 16px;
  padding-block: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.linkContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 8px 32px;
  flex-wrap: wrap;
}

.logoContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.copyrightContainer {
  align-self: center;
  text-align: left;
  color: var(--version);
  margin-top: 24px;
  margin-bottom: 4px;
}