.resultLog {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 12px;
}

.issuer, .credential {
  flex: 0 0 100%;
}

@media screen and (min-width: 700px) {
  .resultLog {
    flex-wrap: nowrap;
  }
  .issuer, .credential {
    flex: 1;
  }
}



.resultItem {
  line-height: 1.5;
  display:flex;
  align-items: flex-start;
  margin-top: 8px;
}

.resultItem span {
  margin-right: 8px;
  margin-top: -1px;
}

.verified {
  color: var(--success);
}

.notVerified {
  color: var(--error);
}

.header {
  font-weight: bold;
}