.resultLog {
  display: flex;
  flex-wrap: wrap;
  /* gap: 24px 12px; */
  font-size: 12px;
  margin-left: -2px;
}

.issuer,
.credential {
  flex: 0 0 100%;
}

@media screen and (min-width: 700px) {

  /* .resultLog {
    flex-wrap: nowrap;
  } */
  .issuer,
  .credential {
    flex: 1;
  }
}

.resultItem {
  line-height: 1.5;
  display: flex;
  align-items: flex-start;
  margin-top: 8px;
  width: 100%;
}

.resultItem span {
  margin-right: 8px;
  margin-top: -1px;
  font-size: 19px;
}


/* .verified {
  color: var(--check-success);
}
*/

.header {
  font-weight: bold;
}

.issuerList {
  margin-top: 8px;
  margin-left: 16px;
  padding: 0;
}

.moreInfoLink {
  color: var(--primary);
  text-decoration: underline;
  margin: 0px;
  font: normal normal medium 14px/17px Rubik;
}

.errorContainer {
  font-size: 12px;
}


.verified {
  color: var(--check-success);
}

.notVerified {
  color: red;
}

.warning {
  color: orange;
}

.warningIcon {
  background-color: orange;
  color: white;
  border-radius: 50%;
  /* padding: 4px; */
  margin-left: 2px;
  font-size: 16px !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}