.button {
    background: none;
    border: none;
    padding: 10px 18px;
    font-family: Rubik, sans-serif;
    color: var(--border);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items:center;
  }