.issuer {
  display: flex;
  margin-top: 4px;
}

.issuerInformation {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
  margin-left: 5px;
}

.issuerInformation a {
  font-size: 12px;
}

.header {
  margin: 0px 0px 4px;
  font-weight: bold;
  font-size: 12px;
}

.infoIcon {
  font-size: 12px;
  margin-left: 4px;
}

.issuerAddress {
  font-size: 12px;
  margin-top: 4px;
  margin-bottom: 0px;
}