.card {
  background: var(--contrast-text);
  box-shadow: 0px 15px 30px #06102421;
  border-radius: 10px;
  opacity: 1;
  width: 1000px;
  display: flex;
}

.primaryColumn {
  flex: 1;
  padding: 24px;
}

.secondaryColumn {
  border-left: 2px solid var(--background);
  padding: 24px ;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.credentialName {
  margin-top: 8px;
  font-weight: bold;
  font-size: 25px;
}

.subjectName {
  margin-top: 4px;
  font-size: 14px;
}

.credentialDescription {
  margin-top: 32px;
}

.sectionHeader {
  margin-top: 32px;
  font-weight: bold;
}

.smallHeader {
  margin-top: 24px;
  font-weight: bold;
  font-size: 12px;
}

.credentialCriteria {
  margin-top: 4px;
}

.imageContainer {
  margin-top: 32px;
}

.viewSource {
  margin-left: 8px;
}

.buttonContainer {
  display: flex;
}

.headerRow {
  display: flex;
}

.qrCodeContainer {
  width: 256px;
  height: 256px;
  padding: 8px;
  background-color: var(--white);
  border-radius: 8px;
  margin-top: 24px;
}

.qrCode {
  width: 100%;
  height: 100%;
}
