.card {
  background: var(--white);
  box-shadow: 0px 15px 30px #06102421;
  border-radius: 10px;
  opacity: 1;
  width: 1000px;
  display: flex;
}

.primaryColumn {
  flex: 1;
  padding: 24px;
}

.secondaryColumn {
  border-left: 2px solid var(--light-background);
  padding: 24px ;
}

.credentialName {
  font-weight: bold;
  font-size: 25px;
}

.subjectName {
  margin-top: 4px;
  font-size: 14px;
}

.credentialDescription {
  margin-top: 32px;
}

.smallHeader {
  margin-top: 32px;
  font-weight: bold;
}

.credentialCriteria {
  margin-top: 4px;
}

.imageContainer {
  margin-top: 32px;
}

.viewSource {
  margin-left: 8px;
}

.buttonContainer {
  display: flex;
}

