.card {
  background: var(--contrast-text);
  box-shadow: 0px 15px 30px #06102421;
  border-radius: 10px;
}

.topCard {
  position: relative;
  padding: 24px 16px;
  border-bottom: 1px solid var(--background);
}

.mainCard {
  display: flex;
  flex-wrap: wrap;

}

@media screen and (min-width: 700px) {
  .mainCard {
    flex-wrap: nowrap;
  }
  .topCard {
    padding: 24px 180px 24px 24px;
  }
}

.verifyContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.primaryColumn {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 24px 16px;
  gap: 24px;
}

.secondaryColumn {
  border-right: 1px solid var(--background);
  padding: 24px 16px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

@media screen and (min-width: 700px) {
  .secondaryColumn {
    width: 325px;
    padding: 24px;
  }

  .primaryColumn {
    padding: 24px;
  }
}

.secondaryColumn > section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.credentialName {
  margin: 0px 0px 0px;
  font-weight: bold;
  font-size: 25px;
}

.subjectName {
  margin-top: 4px;
  margin-bottom: 0px;
}

.smallHeader {
  margin: 0px 0px 4px;
  font-weight: bold;
  font-size: 12px;
}

.imageContainer {
  margin-top: 32px;
}

.viewSource {
  margin-left: 8px;
}

.buttonContainer {
  display: flex;

}

@media screen and (min-width: 700px) {
  .buttonContainer {
    position: absolute;
    top: 24px;
    right: 24px;
  }

}

.headerRow :nth-of-type(2) {
  margin-top: 26px;
}

.qrCodeContainer {
  width: 256px;
  height: 256px;
  padding: 8px;
  background-color: var(--white);
  border-radius: 8px;
  margin-top: 24px;
}

.qrCode {
  width: 100%;
  height: 100%;
}

.errorContainer {
  padding-left: 8px;
  padding-block: 4px;
  display: flex;
  border-radius: 5px;
  margin-bottom: 8px;
  width: 100%;
  background-color: var(--contrast-text);
  color: var(--text);
}

.error {
  margin: 0;
  padding: 0;
  padding-left: 8px;
  font: normal normal medium 14px/17px Rubik;
}

.warningIcon {
  color: #FFCC00;
}

.markdownContainer p {
  margin: 0;
  padding: 0;
}

.markdownContainer h1,
.markdownContainer h2, 
.markdownContainer h3,
.markdownContainer h4,
.markdownContainer h5,
.markdownContainer h6 {
  margin: 0;
  padding: 0;
}

.achivementInfo {
  display: flex;
  flex-direction: row;
  margin: 8px 0px 0px;
}

.achievementImage {
  margin-right: 16px;
  max-height: 36px;
  max-width: 36px;
  height: auto;
  width: auto;
}

.achievementType {
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 14px;
}