.result {
  background-color: var(--background);
  /* display: flex; */
  width: 100%;
  padding: 12px 16px;
  border-radius: 5px;
  gap: 12px;
}

.title {
  margin-left: -12px;
  font-size: 12px;
  font-weight: 600;
}
.subTitle{
  margin-left: -12px;
  font-size: 12px;
  font-weight: 600;
}
.notVerified {
  color: var(--error);
}

.verified {
  color: var(--success);
}

.messageContainer {
  padding: 3px 0;
}

.lastChecked {
  font-size: 12px;
  color: var(--light-text);
  margin-top: 4px;
}

.verifyButton {
  margin-top: 12px;
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 100%;
  padding: 16px;
  border-radius: 5px;
  background-color: var(--primary);
  color: var(--contrast-text);
  font-family: Rubik, sans-serif;
  font-weight: bold;
}

.verifyButton span {
  margin-right: 8px;
}