:root {
  --white: #FFFFFF;
  --black: #000000;
  --success: #4D7C0F;
  --light-background: #F3F4F6;
  --primary: #0F7390;
  --text: #1F2937;
  --dark-text: #384151;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Rubik, sans-serif;
  color: var(--text);
  font-size: 16px;
  background-color: var(--light-background);
}

a {
  color: var(--primary);
  /* text-decoration: none; */
}

* {
  box-sizing: border-box;
}

