@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
  --white: #FFFFFF;
  --black: #000000;
  --success: #4D7C0F;
  --check-success:#80ae44;
  --background: #F3F4F6;
  --primary: #0F7390;
  --text: #1F2937;
  --contrast-text: #FFFFFF;
  --dark-text: #384151;
  --light-text: #4C5563;
  --error: #B91C1C;
  --border: #6B7280;
  --switch-background: #9CA3AF;
  --switch-slider: #FFFFFF;
  --modal-background: hsla(0, 0%, 100%, .7);
  --version: #808080;
}

.darkmode {
  --white: #FFFFFF;
  --black: #000000;
  --success: #A3E534;
  --background: #1F2937;
  --primary: #67E8F9;
  --text: #F3F4F6;
  --contrast-text: #111827;
  --dark-text: #E5E7EB;
  --light-text: #9CA3AF;
  --error: #EF4444;
  --border: #9CA3AF;
  --switch-background: #E5E7EB;
  --switch-slider: #111827;
  --modal-background: hsla(0, 0%, 0%, .7);
  --version: #BDC0C6;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Rubik, sans-serif;
  color: var(--text);
  font-size: 16px;
  background-color: var(--background);
  line-height: 1.5;
}

a {
  color: var(--primary);
  /* text-decoration: none; */
}

* {
  box-sizing: border-box;
}

